<div class="row nav-row row-ninetyeigth" id="top">
  <div class="col-xs-12">
    <div class="subgrid nav">
      <div class="row">
        <div class="col-xs-12 col-md-3 col-sm-12">
          <h1 class="heading-1">MongoScrapper</h1>
        </div>
        <div class="col-xs-12 navigation col-xl-8 col-md-12 col-lg-9">
          <a class="link-button btn nav-link" href="#">All articles</a>
          <a class="link-button btn nav-link" href="/savedarticles">Saved Articles</a>
          <form action="/scrape" method="POST" class="navbar-form pull-right">
            <button type="submit" class="btn">Scrape New Articles</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row-1 row-ninetyeigth">
  <div class="col-xs-12 header-cover">
    <div class="container-fluid header-image">
      <h1 class="heading-2">Mongo Scraper</h1>
      <h2 class="heading-3">New York Times Edition</h2>
    </div>
  </div>
</div>

{{!-- article --}} 

{{#each articles}}
<div class="row row-ninetyeigth article-row">
  <div class="col-xs-12 column-1">
    <div class="subgrid">
      <div class="row subgrid-row-1">
        <div class="col-xs-8 article-col col-sm-9 col-md-10">
          <h1 class="article-h1">{{this.title}}</h1>
        </div>
        <div class="col-xs-4 article-col col-sm-1">
          <form action="/save" method="POST">
            <input id="article-title" type="hidden" name="title" value="{{this.title}}">
            <input id="article-link" type="hidden" name="link" value={{this.link}}>
              <button type="submit" id="save" class="btn">Save Article</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 subgrid-column-2">
          <a target="_blank" href={{this.link}}>
            <p>{{this.link}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}} 
